<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://nexee.ondrejzraly.cz/api/download/uploads/cmip4dddc0003sa32num5c20k/cmiptbb2l000osa32qkvlipd8/cmiptbb2l000osa32qkvlipd8-signed.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>url</key>
            <string>https://nexee.ondrejzraly.cz/api/download/uploads/cmip4dddc0003sa32num5c20k/cmiptbb2l000osa32qkvlipd8/cmiptbb2l000osa32qkvlipd8-signed.ipa</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>cz.filemoni.nexee</string>
          <key>bundle-version</key>
          <string>1.0</string>
          <key>kind</key>
          <string>software</string>
          <key>platform-identifier</key>
          <string>com.apple.platform.appletvos</string>
          <key>title</key>
          <string>Nexee ATV</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>